<table>
<tr>

  <td >TenderId</td>
  <td>
  <mat-form-field class="example-full-width" appearance="fill" >
<input matInput type="text id=empId" formControlName="empId" placeholder="*" >
</mat-form-field>
</td>

<td >Tender Title</td>
  <td>
  <mat-form-field class="example-full-width" appearance="fill" >
<input matInput type="text id=empId" formControlName="empId" placeholder="*" >
</mat-form-field>
</td>
</tr>

<tr>
<td >Organization</td>
  <td>
  <mat-form-field class="example-full-width" appearance="fill" >
<input matInput type="text id=empId" formControlName="empId" placeholder="*" >
</mat-form-field>
</td>

<td >TenderAddress</td>
  <td>
  <mat-form-field class="example-full-width" appearance="fill" >
<input matInput type="text id=empId" formControlName="empId" placeholder="*" >
</mat-form-field>
</td>
</tr>

<tr>
<td >Tender Detail</td>
  <td>
  <mat-form-field class="example-full-width" appearance="fill" >
<input matInput type="text id=empId" formControlName="empId" placeholder="*" >
</mat-form-field>
</td>

<td >Tender Value</td>
 <td>
  <mat-form-field class="example-full-width" appearance="fill" >
<input matInput type="text id=empId" formControlName="empId" placeholder="*" >
</mat-form-field>
</td>
</tr>

<tr>
<td >Last Submission Date</td>
 <td>
  <mat-form-field class="example-full-width" appearance="fill" >
<input matInput type="text id=empId" formControlName="empId" placeholder="*" >
</mat-form-field>
</td>

<td >File/Attechment</td>
 <td>
  <mat-form-field class="example-full-width" appearance="fill" >
<input matInput type="text id=empId" formControlName="empId" placeholder="*" >
</mat-form-field>
</td>
</tr>
</table>

<button class="btn" mat-flat-button fxFlex="10" fxFlexAlign="center" (click)="onSave()">
  Save
</button>
